*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}
/* header class */
.header{
    min-height: 100vh ;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("Photos/bannerS.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
/* nevigation bar*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
/* logo */
nev img{
    width: 150px;
}
/* nevbar menu*/
.nav-links{
    flex: 1;
    text-align: right;
}
/* nevbar menu links*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}
/* nevbar menu links decoration */
.nav-links ul li a{ 
    color: aliceblue;
    text-decoration: none ;
    font-size: 13px;
}
/* nevbar menu links hover */
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #430A5D;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
/*center textbox*/
.text-box{
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: aliceblue;
}
/*Button charatristics*/
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #430A5D;
    background: #430A5D;
    transition: 1s;
}

/*Responsive mobile menu*/
/* not visible icon in full screen*/
nav .fa{
    display: none;
}

@media(max-width: 700px)
{
    /*watchlist*/
    .text-box h1{
        font-size: 28px;
    }
    /*menu*/
    .nav-links ul li{ 
        display: block;
    }
    .nav-links{ 
        position: absolute;
        background: #430A5D;
        opacity: 0.99;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -150px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    /*visible icon in small screen*/
    nav .fa{
        display: block;
        color: aliceblue;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 15px;
    }
}

/*-----course------*/

.Genre{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/*----3 rows-----*/
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/*-----background------*/
.Genre-col{
    flex-basis: 31%;
    background: #C39898;
    opacity: 80%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

/*----hover effect-----*/
.Genre-col:hover{
    box-shadow: 0 0 10px 0 rgba(111, 78, 55, 1);
}

/*Responsive mobile genre*/

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    
}

/*----theater-----*/

.theater{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.theater-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.theater-col img{
    width: 100%;
    display: block;
}
.layer{
    background: rgba(111, 78, 55, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top:  0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: transparent;
}
.layer h3{
    color: aliceblue;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 30%;
    opacity: 1;

}

/*----------footer---------*/
.footer{
    background-color: #74512D;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-top: 20px;
    margin-bottom: 25 px;
    font-weight: 600;
}

.icons .fa {
    color: #430A5D;
    margin: 0 13 px;
    cursor: pointer;
    padding: 18px 0;

}
